* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  margin: auto;
  text-align: center;
}

.main {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
}

.movieCard img {
  width: 16rem;
  height: 24rem;
}

.movieCard p {
  font-weight: bold;
  font-size: 2rem;
  width: 16rem;
  text-align: center;
}

.header {
  width: 100%;
  background-color: aqua;
  text-align: center;
  padding: 14px;
}